@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

body {
    font-family: 'Pretendard-Thin';
    color: #a03737;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    margin-top: 50px;
    font-size: 20px;
}

.profWrap {
    font-family: 'Gothic A1', sans-serif;
    border-radius: 30%;
    display: inline-block;
    padding: 0.5rem;
    margin-top: 20px;
    border: 1px solid gray;
    background-color: rgba(188, 47, 47, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.5);
}

.hist {
    font-family: 'Gothic A1', sans-serif;
    border-radius: 30%;
    display: inline-block;
    padding: 0.5rem;
    margin-top: 20px;
    border: 1px solid gray;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.5);
}