.header {
    background: url(./png/cloud.png);
    background-position: center;
    background-size: cover;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .title {
    text-align: center;
}

.header .title img {
    width: 100px;
}

.header .title h1 {
    font-size: 40px;
    color: #444;
    letter-spacing: 0.1em;
    margin-bottom: 0;
}

.header .title p {
    margin-top: 0;
    margin-bottom: 30px;
    color: #444;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.intro .icons {
    flex: 1;
    text-align: center;
    margin: 150px 40px;
}

.intro .icons i {
    font-size: 70px;
    color: #444;
    margin-bottom: 30px;
}

.intro .icons h1 {
    letter-spacing: 0.2em;
}